@import url('https://fonts.googleapis.com/css?family=Pompiere&display=swap');
body{
  background-image: url('/views/media/WhatsApp\ Image\ 2026-05-22\ at\ 21.29.48.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Pompiere', cursive;
  text-align: center;
  color: white;
}
header{
  font-size: 50px;
}
input{
  width: 20%;
  padding: 6px 10px;
  margin: 5px 0;
   font-family: 'Pompiere', cursive;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  transition:  0.3;
  outline: none;

}
button{
  background-color: lightblue;
   width: 20%;
  padding: 6px 10px;
  margin: 5px 0;
  display: inline-block;
  color: black;
  border: 2px solid lightblue;
  border-radius: 10px;
  box-sizing: border-box;
  transition:  0.3;
  outline: none;
  font-family: 'Pompiere', cursive;

}







