@import url('https://fonts.googleapis.com/css?family=Pompiere&display=swap');

body {
  background-image: url('/views/media/Design\ sem\ nome.png');

  /* 1. Evita que a imagem vire um "mosaico" repetido */
  background-repeat: no-repeat;

  /* 2. Centraliza o ponto principal da imagem na tela */
  background-position: center center;

  /* 3. A propriedade mais importante! Faz a imagem cobrir todo o espaço 
          mantendo a proporção correta, sem amassar ou esticar os pixels */
  background-size: cover;

  /* 4. Opcional: deixa o fundo fixo enquanto o usuário rola a página (efeito parallax).
          Isso dá uma sensação muito moderna e profissional para o site */
  background-attachment: fixed;

  /* 5. Força o navegador a renderizar o fundo com mais nitidez e contraste */
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
  font-family: 'Pompiere', cursive;
  text-align: center;
  color: white;
}

header {
  font-size: 50px;
}

input {
  width: 20%;
  padding: 6px 10px;
  margin: 5px 0;
  font-family: 'Pompiere', cursive;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.3;
  outline: none;

}

button {
  background-color: lightblue;
  width: 20%;
  padding: 6px 10px;
  margin: 5px 0;
  display: inline-block;
  color: black;
  border: 2px solid lightblue;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.3;
  outline: none;
  font-family: 'Pompiere', cursive;

}

a {
  color: white;
}