*{

  padding: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  outline: none;
}

.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 50%;
  margin: 0;
  
  position: absolute;
  top: 20%;
}
.img1{

  height: 100%;
  width: 100%;
 
}
.link1{
  display: flex;
  position: absolute;
  align-items: center;
  left: 10px;
  top: 100px;
  height: 60px;
  width: 120px;
  color: white;
  font-size: 30px;
  text-decoration: none;
 
}
.link2{
  display: flex;
  position: absolute;
  align-items: center;
  left: 10px;
  height: 60px;
  width: 120px;
  color: white;
   font-size: 30px;
   text-decoration: none;
}

.link3 {
  display: flex;
  position: absolute;
  align-items: center;
  left: 10px;
  margin-top: 80px;
  height: 60px;
  width: 120px;
  color: white;
   font-size: 30px;
   text-decoration: none;
}
.titulo-principal{

   display: flex;
  position: absolute;
  left: 10px;
  top: 5px;
 color: white;
 font-size: 40px;

}


