<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   <link rel="stylesheet" href="/views/css/cadastro.css">
  <script src="/views/pages/Cadastro/Cadastro.js" defer></script>
  </head>

  <body>
       <header>
        <h1>Amnesia</h1>
       </header>
       <main>
        <form>
          <input type="text" placeholder="Nome de Usuario"><br>
          <input type="email" placeholder="Email"><br>
          <input type="password" placeholder="Senha"><br>
          <button>Cadastrar-se</button>
        </form>
       </main>
    
    
  </body>
</html>

