<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/css/home.css" />
    <title>Ínicio</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  </head>
  <body>
 
    <div class="cabeçalho">
      <h1>Amnesia</h1>

      <button id="btn-menu" aria-label="Abrir Menu">
        <i class="fa-solid fa-bars"></i>
      </button>
    
      <nav id="menu-principal" class="menu-oculto">
        <ul>
          <li><a href="/views/pages/home.html">Início</a></li>
          <li><a href="/views/pages/sobre.html">Sobre</a></li>
          <li><a href="/views/pages/login.html">Login</a></li>
        </ul>
      </nav>

    </div>
        <script src="/views/js/home.js"></script>
  </body>
</html>
