<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amnesia - Pesquisar</title>
    <link rel="stylesheet" href="/views/css/pesquisa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/views/js/pesquisa.js" defer></script>
</head>

<body>

    <div class="container">
        <nav class="sidebar">
            <div class="logo">Amnesia</div>
            <ul class="nav-links">
                <li>
                    <a href="/views/pages/home.html">
                        <span>🏠</span> Home
                    </a>
                </li>
                <li>
                    <a href="/views/pages/pesquisar.html" class="active-link">
                        <span>🧭</span> Pesquisar
                    </a>
                </li>
                <li>
                    <a href="/views/pages/chat.html">
                        <span>✉️</span> Mensagens
                    </a>
                </li>
                <li>
                    <a href="/views/pages/perfil.html">
                        <span>👤</span> Perfil
                    </a>
                </li>
                <li>
                    <a href="/views/pages/ajustes.html">
                        <span>⚙️</span> Configurações
                    </a>
                </li>
            </ul>
        </nav>

        <main class="feed-container-full">
            
            <section class="search-box-wrapper">
                <div class="search-bar">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text"  id="search-input"placeholder="Pesquisar por artistas, tags ou estilos...">
                </div>
            </section>

            <section class="explore-grid">
                </section>

        </main>
    </div>

    <div id="image-modal" class="modal">
        <span class="modal-close">&times;</span>
        <img class="modal-content" id="modal-img">
    </div>

</body>
</html>